*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.bloco{
    box-shadow: gray 0px 4px 12px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    border: solid white 2px;
    border-radius: 15px;
    width: 350px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6;
    grid-template-areas:  "img"
                          "name"
                          "um"
                          "dois"
                          "tres"
                          "quatro";
}
.img{
    margin-top: 20px;
    border-radius: 60%;
    margin-left: 50%;
    transform: translate(-50%);
}
.quadrado{
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 5px;
    background-color: beige;
    width: 200px;
    height: 40px;
}
a{
    text-decoration-line: none;
    color: black;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    text-align: center;
}
